.App{
	width:calc(100% - 5px);
	height:1180px;
}
.App .background{
	position: absolute;
	z-index: -99;
	width: 100%;
	height: 100%;
	zoom:0.5;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	filter: brightness(50%);
	object-fit: fill;
}

