* {
  margin: 0;
  padding:0;
  box-sizing:border-box;	
}
body{
  text-align: center;
  width: 100% ;
  font-family: 'Roboto', sans-serif;
  background-color:#101014;
}
button,span{
  font-family: 'Roboto', sans-serif;
}

@keyframes load{
  0%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}
@media screen and (max-width:1200px){
  body{
    max-width: 100vw;
  }
}